form[class='track-update'] > h1 {
    margin: 5px;
}
form[class='track-update'] {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form.track-update input, textarea, select {
    max-width: none;
    width: 200px;
    margin: 5px;
}

button {
    font: inherit;
}

input {
    font: inherit;
    font-size: small;
}

form.track-update select {
    display: flex;
}
