.audio-player.container {
    height: 48px;
    width: 100%;
    position: fixed;
    background-color: rgb(237, 237, 237);
    border-top: 1px solid rgb(194, 204, 214);
    bottom: 0;
    gap: 5px;
    /* z-index: var(--audio-player-base-layer); */
    & * {
        position: relative;
        /* z-index: var(--audio-player-base-layer); */
    }
}

#slide-tab {
    position: fixed;
    bottom: 0;
    z-index: 1001;
    left: calc(50% - .5rem);
    display: none
}

div.mobile.wrapper {
    width: 100%;
    @media (max-width: 850px)  {
        & div#slide-tab, div#slide-tab * {
            display: initial;
        }
    }
    & #slide-tab, #slide-tab * {
        display: none;
    }
}

div.audio-player button {
    appearance: none;
    border: 0;
    background-color: inherit;
}

div.audio-player.inner {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    max-width: 1280px;
    gap: 10px;
    & i {
        font-size: 1rem;
    }
}

.audio-controls {
    /* width: 200px; */
    &.container {
        flex-grow: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        gap: 10px;
    }

}

.track-controls {
    /* width: 80px; */
    flex-grow: 2;
    margin-top: auto;
    gap: 5px;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & button {
        padding: 0 calc(20px - fit-content(20px));
    }
}

.queue-controls {
    margin-top: auto;
    margin-bottom: auto;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & button {
        padding: 0 calc(20px - 1rem);
    }
}