
.audio-player * {
    user-select: none;
}

.play-pause.button i::before {
    display: inline-block;
    width: 20px; /* Set a fixed width */
    height: 20px; /* Set a fixed height */
    text-align: center;
    line-height: 20px; /* Align icon vertically */
}



