div.queue-control.inner {
    position: fixed;
    font-size: .8rem;
    opacity: 1;
    display: inline-flex;
    flex-direction: column;
    height: min-content;
    width: 400px;
    bottom: 54px;
    /* text-wrap: nowrap; */
    background-color: white;
    /* padding: 5px 5px; */
    border-radius: 2%;
    border: 1px solid #d3d3d3;
    max-height: 40%;
    transition: bottom .4s cubic-bezier(.37,.64,.56,1.31), opacity .3s;
}

div.queue-control.inner.hidden {
    opacity: 0;
    bottom: -10px;
    pointer-events: none;
}

div.queue-control.container {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: relative;
}

div.queue-control-header {
    /* width: 100%; */
    text-wrap: nowrap;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #d3d3d3;
    padding: 1rem;
}

.queue-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #d3d3d3;
    min-width: 250px;   
    padding: 0.5rem; 
}

div.queue-control div.queue-item::marker {
    display: none;
}

div.queue-control li:last-child div {
    border-bottom: none;
}


button.queue-control.button {
    margin: auto;
}


