div.volume-slider.container {
    position: relative;
    transition: all .2s cubic-bezier(.37,.64,.56,1.31);
    top: -140px;
    left: -19px;
    padding: 8px;
    background-color: rgb(237, 237, 237);
    border: 1px solid rgb(194, 204, 214);
    writing-mode: vertical-lr;
    transform-origin: bottom center;
    & input[type=range][orient=vertical] {
        writing-mode: vertical-lr;
        direction: rtl;
        &::after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 0 0 L 10 8 L 20 0 ' fill='rgb(237, 237, 237)' stroke='rgb(194, 204, 214)'/%3E%3C/svg%3E");
            position: absolute;
            pointer-events: none;
            margin-top: 295.1px;
            margin-left: -2px;
        }
    }
}

div.volume-slider.container.hidden {
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
}

div.volume-control.container div.volume-slider-anchor {
    position: fixed;
    height: 0px;
    width: 0px;
    margin: 0;
}

div.volume-control.container {
    display: flex;
    flex-direction: column;
    min-width: 60px;
    height: 100%;
    & * { 
        margin: auto;
        align-self: center;
        justify-content: center;
        margin: auto;
    }
}

div.hover {
    position: relative;
    margin: auto;
}