/*  
.profile-dropdown * {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
}

.profile-dropdown a {
  padding: 15px;
  background: none;
  font: inherit;
  text-decoration: none;
  color: lightgray;
  font-size: x-small;
}

.profile-dropdown button {
  appearance: none;
  background: inherit;
  border: none;
  color: lightgray;
  font-size: x-small;
}

.profile-dropdown li:hover, .profile-dropdown li *:hover {
  color: white;
}

ul#profile-dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0;
  width: fit-content;
  min-height: 140px;
  z-index: 0;
  background-color: inherit;
  border-top: 1px solid black;
}

ul#profile-dropdown>li {
  display: flex;
  flex-direction: column;
  border: 0;
  text-wrap: nowrap;
  border-bottom: 1px solid black;
  height: 100%
}

div.profile-menu {
  line-height: normal;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  background-color: inherit;
}

div.profile-menu button:has(i) {
  margin: 5px;
}

div.profile-menu:has(ul) {
  position: relative;
}


div.profile-menu button {
  appearance: none;
  background-color: inherit;
  border: 0;
  height: 100%;
  color: lightgray;
}

div.profile-menu button:hover {
  appearance: none;
  background-color: inherit;
  border: 0;
  color: white;
}
*/
div.dropdown-anchor {
  background-color: inherit;
  height: 0;
  width: 0;
  position: fixed;
  background-color: inherit;
} 

ul#profile-dropdown {
  display: flex;
  flex-direction: column;
  min-height: max-content;
  width: min-content;
  border: none;
  background-color: inherit;
  color: inherit;
  position: relative;
  box-sizing: border-box;
  & > li {
    &:nth-child(n + 2) {
      margin-top: -1px;;
    }
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
}

div.profile-menu {
  display: flex;
  flex-direction: column-reverse;
  width: fit-content;
  background-color: inherit;
}

button.profile__menu-btn {
  gap: 0.5em;
}
