canvas#splash-canvas {
    display: flex;
    width: clamp(300px, 100%, 1200px);
    height: 100%;
}

div#splash-buttons {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    appearance: none;
    margin-top: -100px;
    align-items: center;
    justify-content: space-around;
}

div#splash-buttons button {
    appearance: none;
    background-color: #f50;
    border-radius: 5px;
    border-style: none;
    padding: 1rem;
    color: white;
}