html, body, div.app {
    height: 100%;
    overflow: auto;
}

:root {
    --mobile-width-threshold: 850px;
    --sortable-item-layer: 50;
    --audio-player-base-layer: 10;
    font-size: 1rem;
    width: 100%;
    /* color-scheme: dark; */
    & * { 
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }
}

div#dev-links-container {
    position: fixed;
    bottom: 46px;
    width: clamp(100px, 10vw, 250px);
    margin-bottom: 6px;
    margin-left: 2px;
    font-size: .8rem;
    color: rgba(0, 0, 0, 40%);
    vertical-align: baseline;
    left: 0;
}

div#dev-links-container * {
    user-select: none;
}

.dev-link {
    color: rgba(0, 0, 0, 30%);
    font-size: 2rem;
    margin: 5px;
}

.dev-link:hover {
    color: black;
}

div.content {
    width: clamp(320px, 100%, 1190px);
    min-height: calc(100% - 96px); /* ✅ use min-height, not height */
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    overflow-y: auto;
    font-size: 1rem;
}

div.content h1 {
    font-size: 3rem;
}

label[for=errors] {
    font-size: x-small;
    color: #f50;
}

.errors {
    font-size: x-small;
    color: #ff0000;
}

.dev-links-container {
    pointer-events: none;
}


div.content button:hover {
    filter: brightness(110%);
} 

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

button:disabled {
    cursor: not-allowed;
    color: #adadad;
}

button:active {
    :is(i.wc, i.fa, i.fa-solid) {
        transform: scale(0.9) !important;
        transform-origin: center center;
    }
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

button:hover:not(:disabled), button:hover:not(:disabled) * {
    cursor: pointer;
}

.path1:before, .path2:before {
    --active-color-r: 255;
    --active-color-g: 85;
    --active-color-b: 0;
    --active-color-a: 1;
}


button {
    --default-color-r: 0;
    --default-color-g: 0;
    --default-color-b: 0;
    --default-color-a: 1;
    --active-color-r: 255;
    --active-color-g: 85;
    --active-color-b: 0;
    --active-color-a: 1;
    --active-color: rgba(var(--active-color-r), var(--active-color-g), var(--active-color-b), var(--active-color-a));
    --default-color: rgba(var(--default-color-r), var(--default-color-g), var(--default-color-b), var(--default-color-a));
    color: var(--default-color);
    text-align: center;
    vertical-align: middle;
    transform-origin: center center;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    & > * {
        color: inherit;
    }
}

button.active:hover , button.once:hover , button.always:hover {
    color: rgb(
            calc(var(--active-color-r) + 50), 
            calc(var(--active-color-g) + 50), 
            calc(var(--active-color-b) + 50));
}

button.active, button.once, button.always {
    color: var(--active-color);
}

button:hover:not(:disabled, .once, .always, .active, main button) {
    color: rgb(
        calc(var(--default-color-r) + 80), 
        calc(var(--default-color-g) + 80), 
        calc(var(--default-color-b) + 80));
    
}

i:before {
    color: inherit;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 0;
    height: fit-content;
    transform-origin: center center;
    width: fit-content;
    color: inherit;
    & * {
        color: inherit;
    }
}


@font-face {
  font-family: 'WaveCave-icons';
  src:  url('/fonts/WaveCave-icons.eot?kcs7mc');
  src:  url('/fonts/WaveCave-icons.eot?kcs7mc#iefix') format('embedded-opentype'),
    url('/fonts/WaveCave-icons.ttf?kcs7mc') format('truetype'),
    url('/fonts/WaveCave-icons.woff?kcs7mc') format('woff'),
    url('/fonts/WaveCave-icons.svg?kcs7mc#WaveCave-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


i[class^="wc-"], i[class*=" wc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'WaveCave-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & * {
    font-family: 'WaveCave-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.wc-volume-muted:before {
  content: "\e900";
}
.wc-volume-off:before {
  content: "\e901";
}
.wc-volume-low:before {
  content: "\e902";
}
.wc-volume-high:before {
  content: "\e903";
}
.wc-cycle:before {
  content: "\e904";
}
.wc-cycle-1:before {
  content: "\e905";
}
.wc-music-list:before {
  content: "\e906";
}
.wc-cycle-1-duotone .path1:before {
  content: "\e907";
  opacity: 0.5;
}
.wc-cycle-1-duotone .path2:before {
  content: "\e908";
  margin-left: -1em;
}
.wc-music-list-duotone .path1:before {
  content: "\e909";
  opacity: 0.5;
}
.wc-music-list-duotone .path2:before {
  content: "\e90a";
  margin-left: -1em;
}




